#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  text-align: left;
}

.dailyWeather {
   float: left;
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
   background-color: #eec;
}

