#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  text-align: left;
}

.weather {
  display: flex;
  overflow-x: scroll;
}

.dailyWeather {
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
   background-color: #eec;
   min-width: 9em;
}

.placeName {
  font-weight: bold;
  font-size: 1.2em;
}

.country {
  font-weight: bold;
}

@media not (prefers-color-scheme: light) {
  .dailyWeather {
    color: #000;
  }
}